name: Run lint

on:
  pull_request:
    paths:
      - "**.php"
      - "phpcs.xml"
      - ".github/workflows/phpcs.yaml"

jobs:
  phpcs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - run: |
          curl -OL https://squizlabs.github.io/PHP_CodeSniffer/phpcs.phar
          php phpcs.phar --version

      - run: |
          git diff --name-only ${{ github.event.pull_request.base.sha }} |egrep '\.php$' > .list.txt
          php phpcs.phar --standard=./phpcs.xml --file-list=./.list.txt
